micronaut:
  serde:
    serialization:
      inclusion: ALWAYS
  application:
    name: oda-history-service
  security:
    authentication: bearer
    token:
      bearer:
        enabled: true
      jwt:
        signatures:
          jwks:
            keycloak:
              url: https://auth.oda.digital/realms/ODA/protocol/openid-connect/certs
  caches:
    jwks:
      expire-after-write: 240h
  executors:
    history-command-listener:
      type: fixed
      nThreads: 1
endpoints:
  all:
    enabled: true
    sensitive: false
  caches:
    enabled: true
  loggers:
    write-sensitive: false
flyway:
  datasources:
    default:
      enabled: true
      baseline-on-migrate: true
jpa:
  default:
    entity-scan:
      packages: "io.github.opendonationassistant"
